.site .stories{
  min-height: 22rem;
}

.site {
  max-width: 40rem;
  border: #cdcdcd solid;
  padding: 0.2rem;
  margin: 0 0.1rem 0 0;
}

.site .next {
  float: right;
}

.site a {
  text-decoration: none;
  color: #262baf;
}

.site a:visited {
  color: #27233a;
}

.site .details {
  font-size: 0.75rem;
}

.hn-story {
  margin: 0.2rem 0 0 0;
}

.story .title .domain {
  font-size: 0.5rem;
  color: black;
}

.site .index {
  font-size: 0.7rem;
}

.app {
  margin: 0.5rem;
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

@media only screen and (max-width: 599px) {
  .app {
    grid-template-columns: repeat(1, 1fr);

  }
  .tr {
    grid-column: 1;
    grid-row: 2;
  }
  .bl {
    grid-column: 1;
    grid-row: 3;
  }
  .br {
    grid-column: 1;
    grid-row: 4;
  }
  .configuration { 
    grid-column: 1;
    grid-row: 5;
  }
  .about {
    grid-column: 1;
    grid-row: 6;
  }
}

@media only screen and (min-width: 900px) {
  .app {
    grid-template-columns: repeat(2, 1fr);

  }
  .tr {
    grid-column: 2;
    grid-row: 1;
  }
  .bl {
    grid-column: 1;
    grid-row: 2;
  }
  .br {
    grid-column: 2;
    grid-row: 2;
  }
  .configuration { 
    grid-column: 1;
    grid-row: 3;
  }
  .about {
    grid-column: 2;
    grid-row: 3;
  }
}

.tl {
  grid-column: 1;
  grid-row: 1;
}


.clear {
  float: clear
}

.site .refresh {
  float: right;
  margin: 0;
  padding: 0 0.2rem;
  cursor: pointer;
}

body {
  background-color: #e3e4db;
}