.hn .stories{
  min-height: 22rem;
}

.hn {
  max-width: 40rem;
  border: #EEEEEE solid;
  padding: 0.2rem;
}


.hn .next {
  float: right;
}

.hn-story a {
  text-decoration: none;
}

.hn-story .details {
  font-size: 0.75rem;
}

.hn-story {
  margin: 0.2rem 0 0 0;
}

.app {
  margin: 0.5rem;
}